{{define "yield"}}
<div class="row p-2">
    <div class="col-md-10 offset-md-1">
        <h1>Edit Your Gallery</h1>
        <a href="/galleries/{{.ID}}">
            View this Gallery
        </a>
        <hr>
    </div>
</div>
<div class="row p-1">
    <div class="col-md-12">
        {{/* <div class="card border-primary">
            <div class="card-header text-white bg-primary">
                <h3 class="card-title">Edit your gallery</h3>
            </div>
            <div class="card-body"> */}}
                {{template "editGalleryForm" .}}
            {{/* </div> */}}
        {{/* </div> */}}
    </div>
</div>
<div class="row p-1">
    <label class="col-md-1 col-form-label col-form-label-lg" style="text-align: center;">Images</label>
    <div class="col-md-10">
        {{template "galleryImages" .}}
    </div>
</div>
<div class="row p-1">
    <div class="col-md-12">
    {{template "uploadImageForm" .}}
    </div>
</div>
<div class="row p-1">
    <div class="col-md-10 offset-md-1">
        <h2>Danger!</h2>
        <hr>
        {{template "deleteGalleryForm" .}}
    </div>
</div>
{{end}}

{{define "editGalleryForm"}}
<form action="/galleries/{{.ID}}/update" method="POST">
    <div class="form-group row">
        <label class="col-md-1 col-form-label col-form-label-lg" for="title" style="text-align: center;">Title</label>
        <div class="col-md-10">
            <input type="text" name="title" class="form-control form-control-lg" id="title" aria-describedby="emailHelp" placeholder="Title of your gallery" value="{{.Title}}">
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-outline-secondary {{/*btn-primary*/}} btn-lg">Save</button>
        </div>
    </div> 
</form>
{{end}}

{{define "deleteGalleryForm"}}
<form action="/galleries/{{.ID}}/delete" method="POST">
    <div class="form-group">
        <button type="submit" class="btn btn-danger">Delete</button>
    </div>
</form>
{{end}}

{{define "uploadImageForm"}}
<form action="/galleries/{{.ID}}/images" method="POST" enctype="multipart/form-data">
    <div class="form-group row">
        <label class="col-md-1 col-form-label col-form-label-lg" style="text-align: center;" for="images">Add Images</label>
        <div class="col-md-11">
            <input type="file" class="form-control-file" multiple="multiple" name="images" id="images">
            <p class="text-muted">Please only use jpg, jpeg and png.</p>
            <button type="submit" class="btn btn-outline-secondary {{/*btn-primary*/}} btn-md">Upload</button>
        </div>
    </div>
</form>
{{end}}

{{define "galleryImages"}}
    <div class="row">
    {{range .ImagesSplitN 6}}
    <div class="col-md-2">
        {{range .}}
        <a href={{.Path}}>
            <img src="{{.Path}}" class="img-fluid img-thumbnail thumbnail mb-2">
        </a>
        {{template "deleteImageForm" .}}
        {{end}}
    </div>
    {{end}}
    </div>
    <style>
    .thumbnail {
        width: 100%;
    }
    </style>
{{end}}

{{define "deleteImageForm"}}
<form action="/galleries/{{.GalleryID}}/images/{{.Filename}}/delete" method="POST" style="text-align: center;">
    <button type="submit" class="btn btn-primary mb-2">Delete</button>
</form>
{{end}}